* {
    margin: 0%;
    box-sizing: border-box;
}
:root {

    --primary-color: #F99E47;/* yellow */
    --secondary-color: #384633; /* green */

    --subtitle: #F99E47; /* yellow */
    --title: #495057; /* grey */
    --paragraph: #495057; /* grey */
    --footer: #fff;
    -prominence: #fff;
    --boxes: grey;

    font-size: 62.5%; /* 1rem =10px*/
}

body{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;


    font-family: 'DM Sans';
    color: var(--paragraph);
    text-align: center;
}

.menu {
    width: 100%;
    height: 7rem;

    background-image: url(./assets/images/madeira.png);
    background-repeat: no-repeat;
    background-size: 100%;

    margin-bottom: 0%;
    margin: 0%;

    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: inline-block;

    color: #FFFAF1;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
}

.menu a {
    color: #FFFAF1;
}

aside {
    margin: rem;
}

.capa{
    width: auto;
    height: 50rem;
    background-image: url(https://github.com/vtfeitosa/pousada_casa_da_gente/blob/master/assets/images/capa.jpg?raw=true);
    background-size: cover;
    
    margin: 0%;
}

p{
    font-size: 1.8rem;
    color: var(--paragraph);


}

h1 {
    font-size: 2.5rem;
    color: var(--footer);
}

h2{
    font-size: 3.0rem;
    color: var(--title);

}

h3{
    font-size: 1.4rem;
    color: var(--subtitle);

}

h4{
    font-size: 2.4rem;
    color: var(--title);

}


button {
    background: var(--secondary-color);
    text-align: center;
    color: #fff;
    font-weight: 700;

    border: none;
    border-radius: 4rem;

    margin-bottom: 2.5rem;
    margin-inline: auto;

    height: 5.2rem;
    width: 31.3rem;

    text-transform: uppercase;
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.benefits{
    width: auto;
    height: 37.5rem;

    background-color: hsl(226, 53%, 31%);

    margin-inline: 1rem;
    padding: 1rem;
}

.benefits h2 {
    color: #fff;

    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.benefits h3 {
    color: #fff;

    padding-top: 2rem;
}

.benefit{
    width: auto;
    height: auto;

    margin: 1rem;
    background-color: #fff;

}

.placa {
    width: auto;
    height: 45rem;

    margin-top: 0%;

    padding-top: 0;
    padding-left: 0rem;

}

footer {
    background-color: #F99E47;
    color: #FFFAF1;

    margin: 0%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-family: 'DM Sans', sans-serif;
}
